{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <section class="userSearchTool">
        <div>
            <h1>MENUS</h1>
            <form action="{{ path('menu_search') }}" method="GET">
                <label>
                    <input class="searchBar" type="text" name="search" placeholder="RECHERCHER">
                </label>
                <button class="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>

    <section class="containerSectionDetails">
        <div class="sectionDetails">
            {% for menu in menus %}
                <div class="unit">
                    <h3>{{ menu.title }}</h3>
                    <div class=" menu xLarge-5 large-5 small-10">
                        <a href="{{ asset('uploads/admin/menus/' ~ menu.file) }}" target="_blank">
                            <img src="{{ asset ('uploads/admin/menus/' ~ menu.image) }}"
                                 alt="Le Menu de la Semaine" class="img-fluid">
                        </a>
                    </div>
                    <a href="{{ path('menu', {'id':menu.id}) }}">
                        Voir le Menu
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
