{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    {% if app.user.children is empty %}
    <section class="restrictionPage">
        <div class="activation">
            <h1>ACCES RESTREINT</h1>
            <div class="mentionText">
                <p>
                    Votre compte PARENTS n'est pas encore rattaché à la fiche de votre/vos enfant(s) <br>
                    Ce dernier sera fonctionnel sous 48H !
                </p>
                <div class="homePage">
                    <a href="{{ path ('home') }}"> Revenir à l'accueil du site </a>
                </div>
            </div>
        </div>
    </section>

    {% else %}

    <section class="userSearchTool">
        <div>
            <h1>MENUS</h1>
            <form action="{{ path('menu_search') }}" method="GET">
                <label>
                    <input class="searchBar" type="text" name="search" placeholder="RECHERCHER">
                </label>
                <button class="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>

    <section class="containerSectionDetails">
        <div class="sectionDetails">
            {% for menu in menus %}
                <div class="unit">
                    <h3>{{ menu.title }}</h3>
                    <div class=" menu xLarge-5 large-5 small-10">
                        <a href="{{ asset('uploads/admin/menus/' ~ menu.file) }}" target="_blank">
                            <img src="{{ asset ('uploads/admin/menus/' ~ menu.image) }}"
                                 alt="Le Menu de la Semaine" class="img-fluid">
                        </a>
                    </div>
                    <div class="menu">
                        <a href="{{ asset('uploads/admin/menus/' ~ menu.file) }}" target="_blank">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% endif %}

{% endblock %}
