{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <div class="resultSearch">
        <h2>Vous avez recherché : <span>{{ search }}</span></h2>
    </div>
    <section class="containerSectionDetails">
        <div class="sectionDetails">
            {% for menu in menus %}
            <div class="unit">
                <h3>{{ menu.title }}</h3>
                <div class=" menu xLarge-5 large-5 medium-10 small-10">
                    <img src="{{ asset ('uploads/admin/menus/') ~ menu.image }}"
                         alt="Le Menu de la Semaine" class="img-fluid">
                </div>
                <div>
                    <a href="{{ path('menu', {'id':menu.id}) }}">
                        Voir le Menu
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="back">
            <a href="{{ path ('menus') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}
