{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <section class="containerSection">
        <h1>Mes Coordonnées</h1>
        <div class="userInfo">
            <h4>M. / Mme {{ user.lastName }}</h4>
            <p><b>Adresse :</b> <br> {{ user.address }}</p>
            <p>{{ user.zipcode }} {{ user.city }}</p>
            {% if user.address2 %}
               <p> {{ user.address2 }} </p>
            {% endif %}
            <p><b>Téléphone :</b> <br> {{ user.phoneNumber }}</p>
            {% if user.phoneNumber2 %}
                <p> {{ user.phoneNumber2 }} </p>
            {% endif %}
            <p><b>Mail :</b> <br> {{ user.email }}</p>
        </div>

        <h1>Enfant(s)</h1>
        <div class="userInfo">
            {% for child in user.children %}
                <h4>{{ child.firstName }}</h4>
                <p><b>Date de Naissance :</b> {{ child.birthDate|date('d/m/Y') }}</p>
            {% endfor %}
            <div class="action space">
                <a href="{{ path ('user_update', {'id':app.user.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{{ path ('home_parents') }}">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}