{% extends 'front/common/basePublic.html.twig' %}

{% block content %}

    <section class="registerPage">

        <h1>FORMULAIRE D'INSCRIPTION</h1>
        <p>
            Votre enfant est inscrit au sein de notre crèche? <br>
            Complétez ce formulaire afin de créer votre compte PARENTS! <br>
            Ce dernier vous donnera accès à de multiples informations : <br>
            Actualités, évènements, galerie photos, etc. <br>
        </p>
        {{ form_start(registrationForm) }}
        <div class="registrationPage">
            <div class="registrationPart">
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.address) }}
                {{ form_row(registrationForm.address2) }}
                <div class="midWidth">
                    {{ form_row(registrationForm.zipcode) }}
                </div>
                {{ form_row(registrationForm.city) }}
                <div class="midWidth">
                    {{ form_row(registrationForm.phoneNumber) }}
                </div>
                <div class="midWidth">
                    {{ form_row(registrationForm.phoneNumber2) }}
                </div>
            </div>
            <div class="registrationPart">
                {{ form_row(registrationForm.email) }}
                <div class="midWidth">
                {{ form_row(registrationForm.plainPassword) }}
                </div>
                <div class="agreeTerms">
                {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>
        </div>
        <div class="connect">
            {{ form_widget(registrationForm.submit) }}
        </div>

        {{ form_end(registrationForm) }}

    </section>

{% endblock %}
