{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="containerInsert">
        <div class="singleCatInsert xLarge-3 large-3 medium-6 small-9">
            <div class="formInsert">
                <div>
                    <p>Ajouter un menu</p>
                </div>
                {{ form_start(formMenu) }}
                <div class="labelInsert">
                    {{ form_row(formMenu.title) }}
                    {{ form_row(formMenu.content) }}
                    {{ form_row(formMenu.image) }}
                    {{ form_row(formMenu.file) }}
                </div>
                <div class="btnInsert">
                    {{ form_widget(formMenu.submit) }}
                </div>
                {{ form_end(formMenu) }}
            </div>
        </div>
        <div class="returnSmall">
            <a href="{{ path ('admin_menus_list') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}