{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="title-search">
        <h1>ALLERGÈNES</h1>
        <div>
            <form action="{{ path('admin_allergen_search') }}" method="GET">
                <label>
                    <input class="searchBar" type="text" name="search" placeholder="RECHERCHER">
                </label>
                <button class="btnSearch" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>

    <section class="container">
        <div class="path xLarge-3 large-3 medium-5 small-9">
            <a href="{{ path ('admin_allergen_insert') }}">Insérer un nouvel allergène</a>
        </div>
        <div class="singleCat xLarge-5 large-5 medium-10 small-9">
            {% for allergen in allergens %}
                <div class="singleCatContent">
                    <p>{{ allergen.type }}</p>
                    <a href="{{ path ('admin_allergen_show', {'id':allergen.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="return">
            <a href="{{ path ('admin_dashboard') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}
