{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="searchBar">
        <h1>ALLERGÈNES</h1>
        <form action="{{ path('admin_allergen_search') }}" method="GET">
            <label>
                <input type="search" name="search">
            </label>
            <input type="submit" value="Rechercher">
        </form>
    </div>

    <div>
        <a href="{{ path ('admin_allergen_insert') }}"> - Insérer un nouveau type d'allergène - </a>
    </div>
    <div>
        <a href="{{ path ('admin_dashboard') }}"> - Accueil - </a>
    </div>

    {% for allergen in allergens %}
        <div>
            <h1>{{ allergen.type }}</h1>
        </div>
        <div>
            <a href="{{ path ('admin_allergen_show', {'id':allergen.id}) }}"> - Détails - </a>
        </div>
    {% endfor %}

{% endblock %}
