<h1>{{ allergen.type }}</h1>
<div>
    Liste des enfants concernés :
    {% for children in allergen.children %}
    <p>
        {{ children.firstName }}
        {% endfor %}
    </p>
    <div>
        <a href="{{ path ('admin_allergen_update', {'id':allergen.id}) }}"> - Modifier le type d'allergène - </a>
    </div>
    <div>
        <a href="{{ path ('admin_allergen_delete', {'id':allergen.id}) }}"> - Supprimer l'allergène - </a>
    </div>
    <div>
        <a href="{{ path ('admin_allergens_list') }}"> - Revenir à l'ensemble des allergènes - </a>
    </div>
</div>


