{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="containerInsert">
        <div class="singleCatInsert xLarge-3 large-3 medium-6 small-9">
            <div class="formInsert">
                <div>
                    <p>Mettre à jour la fiche Parents</p>
                </div>
                {{ form_start(formUser) }}
                <div class="labelInsert">
                    {{ form_row(formUser.lastName) }}
                    {{ form_row(formUser.firstName) }}
                    {{ form_row(formUser.address) }}
                    {{ form_row(formUser.city) }}
                    <div class="dateInput">
                        {{ form_row(formUser.zipcode) }}
                    </div>
                    {{ form_row(formUser.address2) }}
                    <div class="dateInput">
                        {{ form_row(formUser.phoneNumber) }}
                    </div>
                    <div class="dateInput">
                        {{ form_row(formUser.phoneNumber2) }}
                    </div>
                    {{ form_row(formUser.email) }}
                    <div class="btnInsert">
                        {{ form_widget(formUser.submit) }}
                    </div>
                    {{ form_end(formUser) }}
                </div>
            </div>
        </div>
        <div class="returnSmall">
            <a href="{{ path ('admin_children_list') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}
