<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur l'espace Parents de La Calinerie !{% endblock %}</title>
</head>
<body>
<header class="container">
    <h1>Bienvenue sur l'espace Parents de La Calinerie !</h1>
    {% if is_granted("ROLE_PARENT") %}
        Bonjour famille {{ app.user.lastName }} !
    {% endif %}
    <div>
        <a href="{{ path ('user', {'id':app.user.id}) }}"> - Voir ma fiche famille - </a>
    </div>
    <div>
        <a href="{{ path('app_logout') }}">Se Déconnecter</a>
    </div>
</header>
<aside>
    <div>
        <a href="{{ path('articles') }}">ARTICLES</a>
        <a href="{{ path('events') }}">EVENEMENTS</a>
        <a href="{{ path('pictures') }}">GALERIE</a>
        <a href="{{ path('menus') }}">MENUS</a>
    </div>
</aside>
<article>
    <h2>LE MENU DE LA SEMAINE</h2>
    {% for menu in menus %}
        <h1>{{ menu.title }}</h1>
        <div>
            <a href="{{ asset('uploads/admin/menus/' ~ menu.file) }}" target="_blank">
                <img src="{{ asset ('uploads/admin/menus/' ~ menu.image) }}" alt="">
            </a>
        </div>
        <p> {{ menu.content }}</p>
    {% endfor %}
</article>
<article>
    <h2>Les derniers articles ajoutés :</h2>
    {% for article in articles %}
        <h4>{{ article.title }}</h4>
        <h6>{{ article.date|date('d-m-Y') }}</h6>
        <img src="{{ asset ('uploads/admin/articles/') ~ article.image }}" alt="">
        <span> <em>{{ article.content }} </em></span>
    {% endfor %}
</article>
<br/>
<article>
    <h2>Les derniers évènements ajoutés :</h2>
    {% for event in events %}
        <h4>{{ event.title }}</h4>
        <h6>{{ event.date|date('d-m-Y') }}</h6>
        <img src="{{ asset ('uploads/admin/events/') ~ event.image }}" alt="">
        <span> <em>{{ event.content }} </em></span>
    {% endfor %}
</article>

<article>
    <h2>Les dernieres photos :</h2>
    {% for picture in pictures %}
        <h4>{{ picture.description }}</h4>
        <img src="{{ asset ('uploads/admin/gallery/') ~ picture.image }}" alt="">
    {% endfor %}
</article>
</body>
</html>