{% extends 'front/common/basePublic.html.twig' %}

{% block content %}

    <header class="cover">
        <div class="coverLogo medium-5">
            <div class="xLarge-4 large-4 medium-5 small-3">
                <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
            </div>
            <h1 class="textLogo">
                <span id="t1">L</span>a Ca<span id="t2">l</span>ine<span id="t3">r</span>ie
            </h1>
            <h2 id="ACCUEIL">Crèche Multi-Accueil</h2>
        </div>
        <nav class="navPublic">
            <div class="zoom">
                <a href="#CRECHE">LA CRÈCHE</a>
            </div>
            <div class="zoom">
                <a href="#PARENTS">ESPACE PARENTS</a>
            </div>
            <div class="zoom">
                <li><a href="{{ path ('contact') }}">CONTACT</a></li>
            </div>
        </nav>
        <div class="titlePublic">
            <p> Crèche Multi-Accueil </p>
            <h1 class="textLogo">
                <span id="t1">L</span>a Ca<span id="t2">l</span>ine<span id="t3">r</span>ie
            </h1>
        </div>
        <navResp>
            <div class="drop-down">
                <nav role='navigation' class="logoBurger">
                    <div class="small-4">
                        <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
                    </div>
                    <h1 class="textLogo">
                        <span id="t1">L</span>a Ca<span id="t2">l</span>ine<span id="t3">r</span>ie
                    </h1>
                    <ul>
                        <li><a href="#ACCUEIL">ACCUEIL</a></li>
                        <li><a href="#CRECHE">LA CRÈCHE</a></li>
                        <li class="parentsAccount"><a href="#PARENTS">ESPACE PARENTS</a></li>
                        <li><a href="{{ path ('contact') }}">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="menuResp">
                <a class="trigger" href="#"><i class="fa fa-navicon"></i></a>
                <a class="close" href="#"><i class="fa fa-times"></i></a>
            </div>
        </navResp>
    </header>

    <section class="container whiteBack">
        <div class="xLarge-5 large-5 medium-7 small-12">
            <img src="{{ asset('uploads/admin/img/laCreche.jpg') }}" alt="Photo d'un enfant qui joue à la crèche" class="img-fluid">
        </div>
        <div class="presentation xLarge-6 large-6 medium-7 small-12" id="CRECHE">
            <p>
                Située au milieu du parc des Prés Lacoste, au sein d'une bâtisse en pierre, la crèche <b>La
                    Calinerie</b>
                s’adapte aux besoins des familles et vous permet de profiter d’un accueil petite enfance
                en toute sérénité, pour <b>favoriser l’épanouissement des enfants et le confort des parents.</b>
            </p>
            <p>
                Pour répondre aux besoins de chacun, nous proposons <b>trois types d’accueil :</b>
                un accueil régulier, occasionnel et d’urgence pour faire face aux contraintes et aux imprévus.
            </p>
            <p>
                L'aménagement de la crèche est pensé spécialement pour répondre aux besoins des tout-petits et <b>favoriser
                    le développement de leurs compétences naturelles.</b> Tous nos espaces sont sécurisés et encadrés
                par
                des
                professionnels de la petite enfance.
            </p>
            <div class="iconSet xLarge-7 large-7 medium-10 small-12">
                <img src="{{ asset('uploads/admin/img/iconCreche.png') }}" alt="les services proposés par la crèche"
                     class="img-fluid">
            </div>
        </div>
    </section>


    <form method="post" class="containerLog Parents">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="logParents" id="PARENTS">
            <h3>BIENVENUE SUR L'ESPACE PARENTS !</h3>
            <div class="connect">
                <label for="inputEmail">Mail</label>
                <input type="email" value="" name="email" id="inputEmail" class="form-control" required
                       autofocus placeholder="Saisir votre Adresse Mail">
            </div>
            <div class="connect">
                <label for="inputPassword">Mot de Passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required
                       placeholder="Saisir votre Mot de Passe">
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="connect">
                <button type="submit">
                    Se Connecter
                </button>
            </div>
            <div class="connectLinks">
                <a href="{{ path ('app_register') }}"> Première Connexion ? </a>
                <a href="{{ path ('app_forgotten_password') }}"> Mot de Passe Oublié? </a>
            </div>
        </div>
    </form>

{% endblock %}








