{% extends 'admin/base.html.twig' %}

{% block content %}

    <section class="firstBox">
        <div class="smallBox select2">
            <a href="{{ path('admin_allergens_list') }}">ALLERGÈNES</a>
        </div>
        <div class="smallBox select2">
            <a href="{{ path('admin_children_list') }}">ENFANTS</a>
        </div>
        <div class="smallBox select2">
            <a href="{{ path('admin_users_list') }}">FAMILLES</a>
        </div>
    </section>

    <section class="secondBox">
        <div class="bigBox">
            <h2>Les derniers enfants inscrits :</h2>
            {% for child in children %}
                <p>
                    {{ child.firstName }} {{ child.lastName }}
                </p>
            {% endfor %}
            <div>
                <a href="{{ path('admin_children_list') }}"> Voir la liste complète </a>
            </div>
        </div>
        <div class="bigBox">
            <h2>Les derniers comptes parents créés :</h2>
            {% for user in users %}
                <p>
                    {{ user.firstName }} {{ user.lastName }}
                </p>
            {% endfor %}
            <div>
                <a href="{{ path('admin_users_list') }}"> Voir la liste complète </a>
            </div>
        </div>
    </section>

{% endblock %}