{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section>
        <div class="dashboardResp">
            <div class="medium-2 small-3">
                <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
            </div>
            <p class="hello">
                Admin, Bonjour !
            </p>
            <p class="welcome">
                Bienvenue sur votre Tableau de Bord
            </p>
        </div>
    </section>

    <section class="mainCatBox">
        <div class="mainCat selectCat">
            <a href="{{ path('admin_allergens_list') }}">ALLERGÈNES</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_children_list') }}">ENFANTS</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_users_list') }}">FAMILLES</a>
        </div>
    </section>

    <section class="resumeBox">
        <div class="resumeBoxDetails">
            <p class="lastRegister"> LES DERNIERS ENFANTS INSCRITS </p>
            {% for child in children %}
                <div class="flex">
                    <p>
                        <b>{{ child.lastName }}</b> {{ child.firstName }}
                    </p>
                    <div>
                        <a href="{{ path ('admin_child_show', {'id':child.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="resumeBoxDetails">
            <p class="lastRegister"> LES DERNIERS COMPTES PARENTS CRÉÉS </p>
            {% for user in users %}
                <div class="flex">
                    <p>
                        <b> M. / Mme. {{ user.lastName }}</b>
                    </p>
                    <div>
                        <a href="{{ path ('admin_user_show', {'id':user.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}