{% extends 'admin/base.html.twig' %}

{% block content %}

    <section class="firstBox">
        <div class="smallBox select2">
            <a href="{{ path('admin_allergens_list') }}">ALLERGÈNES</a>
        </div>
        <div class="smallBox select2">
            <a href="{{ path('admin_children_list') }}">ENFANTS</a>
        </div>
        <div class="smallBox select2">
            <a href="{{ path('admin_users_list') }}">FAMILLES</a>
        </div>
    </section>

    <section class="secondBox">
        <div class="bigBox">
            <p class="lastRegister">- LES DERNIERS ENFANTS INSCRITS -</p>
            {% for child in children %}
                <div class="flex">
                    <p>
                        <b>{{ child.lastName }}</b> {{ child.firstName }}
                    </p>
                    <div class="watchIcon">
                        <a href="{{ path ('admin_child_show', {'id':child.id}) }}">
                            <img src="{{ asset('uploads/admin/img/watchIcon2.png') }}" alt="Détails" class="img-fluid">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bigBox">
            <p class="lastRegister">- LES DERNIERS COMPTES PARENTS CRÉÉS -</p>
            {% for user in users %}
                <div class="flex">
                    <p>
                        <b>{{ user.lastName }}</b> {{ user.firstName }}
                    </p>
                    <div class="watchIcon">
                        <a href="{{ path ('admin_user_show', {'id':user.id}) }}">
                            <img src="{{ asset('uploads/admin/img/watchIcon2.png') }}" alt="Détails" class="img-fluid">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}