{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <navResp>
        <div class="drop-down">
            <nav role='navigation'>
                <h1 class="textLogo">
                    <span id="t1">L</span>a Ca<span id="t2">l</span>ine<span id="t3">r</span>ie
                </h1>
                <ul>
                    <li><a href="{{ path('admin_articles_list') }}">ARTICLES</a></li>
                    <li><a href="{{ path('admin_events_list') }}">ÉVÈNEMENTS</a></li>
                    <li><a href="{{ path('admin_pictures_list') }}">GALERIE</a></li>
                    <li><a href="{{ path('admin_menus_list') }}">MENUS</a></li>
                    <li><a class="logoutResp" href="{{ path('app_login') }}">Se Déconnecter</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuResp">
            <a class="trigger" href="#"><i class="fa fa-navicon"></i></a>
            <a class="close" href="#"><i class="fa fa-times"></i></a>
        </div>
    </navResp>

    <div class="dashboardResp">
        <div class="medium-2 small-3">
            <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
        </div>
        <p class="hello">
            Admin, Bonjour !
        </p>
        <p class="welcome">
            Bienvenue sur votre Tableau de Bord
        </p>
    </div>


    <section class="mainCatBox">
        <div class="mainCat selectCat">
            <a href="{{ path('admin_allergens_list') }}">ALLERGÈNES</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_children_list') }}">ENFANTS</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_users_list') }}">FAMILLES</a>
        </div>
    </section>

    <section class="resumeBox">
        <div class="resumeBoxDetails">
            <p class="lastRegister">- LES DERNIERS ENFANTS INSCRITS -</p>
            {% for child in children %}
                <div class="flex">
                    <p>
                        <b>{{ child.lastName }}</b> {{ child.firstName }}
                    </p>
                    <div>
                        <a href="{{ path ('admin_child_show', {'id':child.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="resumeBoxDetails">
            <p class="lastRegister">- LES DERNIERS COMPTES PARENTS CRÉÉS -</p>
            {% for user in users %}
                <div class="flex">
                    <p>
                        <b>{{ user.lastName }}</b> {{ user.firstName }}
                    </p>
                    <div>
                        <a href="{{ path ('admin_user_show', {'id':user.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}