{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section>
        <div class="dashboardResp">
            <div class="medium-2 small-3">
                <img src="{{ asset('uploads/admin/img/logo.png') }}" alt="Logo La Calinerie" class="img-fluid">
            </div>
            <p class="hello">
                Admin, Bonjour !
            </p>
            <p class="welcome">
                Bienvenue sur votre Tableau de Bord
            </p>
        </div>
    </section>

    <section class="mainCatBox">
        <div class="mainCat selectCat">
            <a href="{{ path('admin_allergens_list') }}">ALLERGÈNES</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_children_list') }}">ENFANTS</a>
        </div>
        <div class="mainCat selectCat">
            <a href="{{ path('admin_users_list') }}">FAMILLES</a>
        </div>
    </section>

    <section class="resumeBox">
        <div class="resumeBoxDetails">
            <p class="lastRegister"> LES DERNIERS ENFANTS INSCRITS </p>
            {# Boucle FOR : pour chaque enfant, je souhaite afficher
            son NOM et son prénom #}
            {% for child in children %}
                <div class="flex">
                    <p>
                        <b>{{ child.firstName }}</b> {{ child.LastName }}
                    </p>
                    {#Pour afficher les détails de la fiche enfant #}
                    <div>
                        <a href="{{ path ('admin_child_show', {'id':child.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="resumeBoxDetails">
            <p class="lastRegister"> LES DERNIERS COMPTES PARENTS CRÉÉS </p>
            {# Boucle FOR : pour chaque compte créé, je souhaite afficher
            le nom des parents correspondants #}
            {% for user in users %}
                <div class="flex">
                    <p>
                        M. / Mme. <b> {{ user.lastName }}</b>
                    </p>
                    {#Pour afficher les détails sur les parents nouvellement
                     inscrits #}
                    <div>
                        <a href="{{ path ('admin_user_show', {'id':user.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}