{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <section class="containerSectionDetails">
        <div class="sectionDetails">
            <div class="unit">
                <h3>{{ article.title }}</h3>
                <h6>{{ article.date|date('d/m/Y') }}</h6>
                <div class="xLarge-5 large-5 medium-10 small-10">
                    <img src="{{ asset ('uploads/admin/articles/') ~ article.image }}"
                         alt="Photo illustrant l'article" class="img-fluid">
                </div>
                <p class="xLarge-6 large-6">{{ article.resume }} </p>
                <div class="content xLarge-7 large-7">
                <p>{{ article.content }} </p>
                </div>
            </div>
        </div>
        <div class="back">
            <a href="{{ path ('articles') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}
