{% extends 'front/common/baseParents.html.twig' %}

{% block content %}

    <div class="resultSearch">
        <h2>Vous avez recherché : <span>{{ search }}</span></h2>
    </div>
    <section class="containerSectionDetails">
        <div class="sectionDetails">
            {% for event in events %}
            <div class="unit">
                <h3>{{ event.title }}</h3>
                <h6>{{ event.date|date('d/m/Y') }}</h6>
                <div class="xLarge-5 large-5 medium-10 small-10">
                    <img src="{{ asset ('uploads/admin/events/') ~ event.image }}"
                         alt="Photo illustrant l'évènement" class="img-fluid">
                </div>
                <p class="xLarge-6 large-6">{{ event.resume }} </p>
                <div>
                    <a href="{{ path('event', {'id':event.id}) }}">
                       Voir l'évènement
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="back">
            <a href="{{ path ('events') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}