<div>
    <a href="{{ path ('home_parents') }}"> - Accueil - </a>
</div>

<form action="{{ path('event_search') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>


{% for event in events %}
<div>
    <h1>{{ event.title }}</h1>
    <h6>{{ event.date|date('d/m/Y') }}</h6>
    <div>
        <a href="{{ path ('event', {'id':event.id}) }}"> - Voir l'évènement - </a>
    </div>
    {% endfor %}
</div>



