{% extends 'admin/common/base.html.twig' %}

{% block content %}

<section class="title-search">
    <h1>ARTICLES</h1>
</section>

<section class="container">
    <div class="path xLarge-3 large-3 medium-5 small-9">
        <a href="{{ path ('admin_article_insert') }}">Rédiger un nouvel article</a>
    </div>
    <div class="singleCat xLarge-5 large-5 medium-10 small-9">
        {% for article in articles %}
            <div class="singleCatContent">
                <h1>
                    {{ article.title }} <br>
                   <span>{{ article.date|date('d/m/Y') }}</span>
                </h1>
                <a href="{{ path ('admin_article_show', {'id':article.id}) }}">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="return">
        <a href="{{ path ('admin_dashboard') }}">
            <i class="fa fa-reply"></i>
        </a>
    </div>
</section>

{% endblock %}
