

    <h1 class="title">ARTICLES</h1>
<div>
    <a href="{{ path ('admin_article_insert') }}"> - Rédiger un nouvel article - </a>
</div>
<div>
    <a href="{{ path ('admin_dashboard') }}"> - Accueil - </a>
</div>

{% for article in articles %}
<div>
    <h1>{{ article.title }}</h1>
    <h6>{{ article.date|date('d/m/Y') }}</h6>
    <div>
        <a href="{{ path ('admin_article_show', {'id':article.id}) }}"> - Voir l'article - </a>
    </div>
    {% endfor %}
</div>
