<h1>Nouveau contact</h1>
<p>{{contact.civility}}</p>
<p>NOM : {{contact.lastName}}</p>
<p>Prénom : {{contact.firstName}}</p>
<p>Mail : {{contact.email}}</p>
<p>Objet du Message : {{contact.object}}</p>
<p>Message : <span>{{contact.message|nl2br}}</span></p>