<h1>{{ child.firstName }} {{ child.lastName }}</h1>
<div>
    <p>Né(e) le : {{ child.birthDate|date('d/m/Y') }}</p>
    <p>De sexe : {{ child.sex }}</p>
</div>
<div>
    <h2>FICHE CONTACT</h2>
    <div>
        {% if child.user is not null %}
        M. / Mme {{ child.user.lastName }} {{ child.user.firstName }}
        Adresse : {{ child.user.address }}
        {{ child.user.zipcode }}
        {{ child.user.city }}
        Téléphone : {{ child.user.phoneNumber }}
        Adresse mail : {{ child.user.email }}
        {% else %}
        Aucun compte parent rattaché à la fiche enfant
        {% endif %}
    </div>
</div>
<div>
    Allergènes :
    {% for allergen in child.allergen %}
    <p>
        {{ allergen.type }}
        {% endfor %}
    </p>
</div>
<div>
    <a href="{{ path ('admin_child_update', {'id':child.id}) }}"> - Modifier la fiche enfant - </a>
</div>
<div>
    <a href="{{ path ('admin_child_delete', {'id':child.id}) }}"> - Supprimer la fiche enfant - </a>
</div>
<div>
    <a href="{{ path ('admin_children_list') }}"> - Revenir à la liste des enfants - </a>
</div>