<form action="{{ path('admin_child_search') }}" method="GET">
    <input type="search" name="search">
    <input type="submit" value="Rechercher">
</form>

<div>
    <a href="{{ path ('admin_child_insert') }}"> - Créer une nouvelle fiche enfant - </a>
</div>
<div>
    <a href="{{ path ('admin_dashboard') }}"> - Accueil - </a>
</div>

{% for child in children %}
<div>
    <h1>{{ child.firstName }} {{ child.lastName }}</h1>
    <div>
        <a href="{{ path ('admin_child_show', {'id':child.id}) }}"> - Détails - </a>
    </div>
    {% endfor %}
</div>