{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="containerInsert">
        <div class="detailsCard">
            <div class=" xLarge-4 large-4 medium-5 small-6">
                {#J'applique ici une condition :
                Si la fiche enfant contient une photo, je l'affiche #}
                {% if child.image %}
                    <img src="{{ asset ('uploads/admin/children/') ~ child.image }}"
                    alt="Photo de l'enfant" class="img-fluid">
                {% endif %}
            </div>
            <div class="childInfo">
                {# J'affiche ici les informations concernant l'enfant #}
                <h1>{{ child.firstName }} {{ child.lastName }}</h1>
                <p>Né(e) le : {{ child.birthDate|date('d/m/Y') }}</p>
                <p>De sexe : {{ child.sex }}</p>
            </div>
        </div>
        <div class="allergenInfo">
            <h2>ALLERGÈNES</h2>
            <div>
                {# J'utilise une boucle afin d'afficher les allergènes :
                Si l'enfant possède des allergies : #}
                {% for allergen in child.allergen %}
                    <p>
                    {{ allergen.type }}
                {# S'il n'en possède pas, j'affiche le message suivant : #}
                {% else %}
                    <b>Aucun allergène n'est à ce jour recensé pour
                        {{ child.firstName }}
                    </b>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="contactInfo">
            <h2>FICHE CONTACT</h2>
            <div>
                {# J'applique également une condition concernant les
                 informations liées aux parents. Si les parents ont activé
                 leur compte en ligne, alors je souhaite afficher les
                informations sur la fiche de l'enfant concerné : #}
                {% if child.user is not null %}
                    <p><b>M. / Mme</b> {{ child.user.lastName }} </p>
                    <p>
                        <b>Adresse(s) :</b> {{ child.user.address }}
                        {% if child.user.address2 %}
                            {{ child.user.address2 }}
                        {% endif %}
                    </p>
                    <p><b>Code Postal :</b> {{ child.user.zipcode }} </p>
                    <p><b>Ville :</b> {{ child.user.city }} </p>
                    <p>
                        <b>Téléphone(s):</b> {{ child.user.phoneNumber }}
                        {% if child.user.phoneNumber2 %}
                            {{ child.user.phoneNumber2 }}
                        {% endif %}
                    </p>
                    <p><b>Mail :</b> {{ child.user.email }} </p>
                {# Si les parents n'ont pas encore créé de compte en ligne, j'affiche le message
                suivant : #}
                {% else %}
                    <p> <b>Aucun compte parent n'est rattaché à la fiche enfant</b> </p>
                {% endif %}
            </div>
        </div>
        <div class="actionCard">
            <a href="{{ path ('admin_child_update', {'id':child.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
            <a href="{{ path ('admin_child_delete', {'id':child.id}) }}">
                <i class="fa fa-remove"></i>
            </a>
            <a href="{{ path ('admin_children_list') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}
