{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="containerInsert">
        <div class="singleCatInsert xLarge-3 large-3 medium-6 small-9">
            <div class="formInsert">
                <div>
                    <p>Créer un nouvel évènement</p>
                </div>
                {{ form_start(formEvent) }}
                <div class="labelInsert">
                    {{ form_row(formEvent.title) }}
                    {{ form_row(formEvent.resume) }}
                    {{ form_row(formEvent.content) }}
                    {{ form_row(formEvent.image) }}
                    <div class="dateInputArt">
                        {{ form_row(formEvent.date) }}
                    </div>
                </div>
                <div class="btnInsert">
                    {{ form_widget(formEvent.submit) }}
                </div>
                {{ form_end(formEvent) }}
            </div>
        </div>
        <div class="returnSmall">
            <a href="{{ path ('admin_events_list') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}