<div>
    <a href="{{ path ('admin_event_insert') }}"> - Créer un nouvel évènement - </a>
</div>
<div>
    <a href="{{ path ('admin_dashboard') }}"> - Accueil - </a>
</div>

{% for event in events %}
<div>
    <h1>{{ event.title }}</h1>
    <h6>{{ event.date|date('d/m/Y') }}</h6>
    <div>
        <a href="{{ path ('admin_event_show', {'id':event.id}) }}"> - Voir l'évènement - </a>
    </div>
    {% endfor %}
</div>