{% extends 'admin/common/base.html.twig' %}

{% block content %}

    <section class="title-search">
        <h1>ÉVÈNEMENTS</h1>
    </section>

    <section class="container">
        <div class="path xLarge-3 large-3 medium-6 small-9">
            <a href="{{ path ('admin_event_insert') }}">Créer un nouvel évènement</a>
        </div>
        <div class="singleCat xLarge-5 large-5 medium-10 small-9">
            {% for event in events %}
                <div class="singleCatContent">
                    <h1>
                        {{ event.title }} <br>
                        <span>{{ event.date|date('d/m/Y') }}</span>
                    </h1>
                    <a href="{{ path ('admin_event_show', {'id':event.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="return">
            <a href="{{ path ('admin_dashboard') }}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </section>

{% endblock %}