<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Yasemin Koçak">
    <meta name="description"
          content="Bienvenue à La Calinerie! Retrouvez toutes les informations utiles à l'accueil de votre enfant!
    Le site vous propose également un espace parent dédié : Actualités, agenda, photos. Pour toute demande d'informations,
    n'hésitez pas à nous contacter soit par téléphone, soit par le biais de notre formulaire de contact!">
    <meta name="keywords" content="Crèche, Enfants, Parents, Accueil, Jeux, Garde, Bègles">
    <link rel="icon" type="image/png" href="{{ asset('uploads/admin/img/icon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Quicksand|Raleway:wght@200;300;400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/front/style.css') }}">
    <title>Bienvenue sur l'espace Parents de La Calinerie !</title>
</head>

<body>

<header>
    <nav class="navParents">
        <div class="logoNavParents">
            <a href="{{ path('home_parents') }}">
                <img src="{{ asset('uploads/admin/img/logoWhite.png') }}" alt="Logo La Calinerie" class="img-fluid">
            </a>
        </div>
        <div class="menuParents">
            <div class="square">
                <a href="{{ path('articles') }}">ARTICLES</a>
            </div>
            <div class="square">
                <a href="{{ path('events') }}">ÉVÈNEMENTS</a>
            </div>
            <div class="square">
                <a href="{{ path('pictures') }}">GALERIE</a>
            </div>
            <div class="square">
                <a href="{{ path('menus') }}">MENUS</a>
            </div>
        </div>
        <div class="familyWelcome">
            <div>
                {% if is_granted("ROLE_PARENT") %}
                    <p>
                        <span> Famille {{ app.user.lastName }} </span>, Bienvenue sur votre ESPACE PARENTS !
                    </p>
                {% endif %}
            </div>
            <div class="logoutParents">
                <li><a href="{{ path ('user', {'id':app.user.id}) }}">
                        Ma fiche Famille
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li><a href="{{ path ('app_logout') }}">
                        Se Déconnecter
                        <i class="fa fa-lock"></i>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <navRespConnected>
        <div class="drop-down">
            <nav role='navigation' class="logoBurger">
                <div class="medium-2 small-4">
                    <a href="{{ path('home_parents') }}">
                        <img src="{{ asset('uploads/admin/img/logoWhite.png') }}"
                        alt="Logo La Calinerie"
                        class="img-fluid">
                    </a>
                </div>
                <h1 class="textLogo">
                    <span id="t1">L</span>a Ca<span id="t2">l</span>ine<span id="t3">r</span>ie
                </h1>
                <ul>
                    <li><a href="{{ path ('user', {'id':app.user.id}) }}">
                            Ma fiche Famille
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li><a href="{{ path('articles') }}">ARTICLES</a></li>
                    <li><a href="{{ path('events') }}">ÉVÈNEMENTS</a></li>
                    <li><a href="{{ path('pictures') }}">GALERIE</a></li>
                    <li><a href="{{ path('menus') }}">MENUS</a></li>
                    <li><a href="{{ path ('app_logout') }}">
                            Se Déconnecter
                            <i class="fa fa-lock"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="menuResp">
            <a class="trigger" href="#"><i class="fa fa-navicon"></i></a>
            <a class="close" href="#"><i class="fa fa-times"></i></a>
        </div>
    </navRespConnected>

</header>

{# j'affiche tous les messages flashs enregistrés #}
{% for message in app.flashes('success') %}
    <div class="container">
        <div class="flash">
            {{ message }}
        </div>
    </div>
{% endfor %}

{% block content %}
{% endblock %}


<footer>
    <div class=" logoFooter xLarge-1 large-1 medium-2 small-3">
        <a href="{{ path('home_parents') }}">
            <img src="{{ asset('uploads/admin/img/logoWhite.png') }}" alt="Logo La Calinerie" class="img-fluid">
        </a>
    </div>
    <div>
        <h3>
            Espace Parents
        </h3>
        <ul>
            <li><a href="{{ path ('articles') }}">Articles</a></li>
            <li><a href="{{ path ('events') }}">Évènements</a></li>
            <li><a href="{{ path ('pictures') }}">Galerie</a></li>
            <li><a href="{{ path ('menus') }}">Menus</a></li>
        </ul>
    </div>
    <div>
        <h3>
            La Calinerie
        </h3>
        <p class="address">
            <i class="fa fa-map-marker"></i>
            51, rue Roger Lejard <br>
            33130 Bègles
        </p>
        <p>
            <i class="fa fa-phone"></i>
            <b>05.56.49.24.14</b>
        </p>
    </div>
    <div class="parentIcon">
        <li class="zoom"><a href="{{ path ('user', {'id':app.user.id}) }}"><b>Ma fiche Famille</b>
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li class="zoom"><a href="{{ path ('contact') }}"><b>Contactez-Nous</b>
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </div>
</footer>

<section class="subFooter small-12">
    <p>
        <i class="fa fa-copyright"></i>
        2020 LA CALINERIE
    </p>
    <p>
        - Réalisation : Yasemin KOCAK -
    </p>
    <p>
        <a href="{{ path ('mentions') }}"><b>Mentions Légales</b>
        </a>
    </p>
</section>

<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous">
</script>
<script src="{{ asset('src/js/app.js') }}"></script>

</body>
</html>